doctype 5
html
	head
		script(src="/socket.io/socket.io.js")
		script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script
			$(document).ready(function() {
				var socket = io.connect();

				//collect all input field names
				var inputFieldNames = ['email', 'number'];
				//send to server for dynmaic creation
				socket.emit('initialization', inputFieldNames);

				$('#number').keyup(function(){
					socket.emit('number', 
						{
							name: "number", 
							fn:"check("+$('#number').val()+").isNumeric()", 
							successMessage: "its a number"
						}
					);
				})

				$('#email').keyup(function(){
					socket.emit('email', 
						{
							name: 'email',
							fn: "check("+$('#email').val()+").len(2,64).isEmail()",
							successMessage: "it an email"
						}
					);
				})

				socket.on('emailResponse', function(data){
					$('#emailResponse').html('<div>' + data.res + '</div>');
				})

				socket.on('numberResponse', function(data){
					$('#numberResponse').html('<div>' + data.res + '</div>');
				})

			});

	body
		form(action='/email', method='post')
			div 
				| Enter some email address: 
				input(type='email', id="email")
			br
			div
				| Enter a valid number:
				input(type='text', id="number")
			br
			//- input(type='submit', value="submit")
		div
			span Error/success message:
			br
			span#emailResponse
			span#numberResponse
		span(id="data")
		block content